<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">Hi Disaster</a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" href="/" mdbWavesEffect>Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" href="/about" mdbWavesEffect>About</a>
            </li>
        </ul>

    </links>
    <!-- Collapsible content -->

</mdb-navbar>

<router-outlet></router-outlet>