<div class="row">
  <div class="col"></div>
  <div class="col">
    <p>A part of the team (handicap and international)</p>
    <img src='./assets/team.jpg' />
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <ul>
      <li>Ivan: thankfully there was an Architect</li>
      <li>Christof: certainly the best front-end developer in the world</li>
      <li>Xavier: The guy who creates value when he's not there...</li>
      <li>François: Who's that guy ???? I think that he was 'the drunk sleeping in the grass' fellow</li>
      <li>Matthieu: vi (he doesn't know how to exit so he still codes inside)</li>
    </ul>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col">
    <p>
      <b>We can garantee that no handicapped persons nor animals were hurt during this hackathon and development process.</b>
    </p>
  </div>
  <div class="col"></div>
</div>